.user-profile {
    margin-top: 150px;
}

.post-list {
    position: relative;
    top: 6rem;
    z-index: 0;
}

.card {
    margin: 10px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 40%;
    padding: 0 10px 15px 10px;
}

.user-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}